* {
  box-sizing: border-box;
}
body {
  background-color: #2b88f0;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}
.allnumbers .numbers7to9 .btn {
  background-color: orange;
  color: white;
  padding: 10px 20px;
  margin: 1px 1px;
  font-size: 14px;
  display: inline-block;
  cursor: pointer;
}
.allnumbers .numbers4to6 .btn {
  background-color: orange;
  color: white;
  padding: 10px 20px;
  margin: 1px 1px;
  font-size: 14px;
  display: inline-block;
  cursor: pointer;
}
.allnumbers .numbers1to3 .btn {
  background-color: orange;
  color: white;
  padding: 10px 20px;
  margin: 1px 1px;
  font-size: 14px;
  display: inline-block;
  cursor: pointer;
}
.other .btn {
  background-color: orange;
  color: white;
  padding: 10px 20px;
  margin: 1px 1px;
  font-size: 14px;
  display: inline-block;
  cursor: pointer;
}
.other .equal {
  background-color: orange;
  color: white;
  padding: 10px 10px 10px;
  margin: 1px 1px;
  font-size: 14px;
  cursor: pointer;
}
.operation .btn {
  background-color: orange;
  color: white;
  padding: 10px 20px;
  margin: 1px 1px;
  font-size: 14px;
  display: inline-block;
  cursor: pointer;
}
.display .textarea {
  width: 225px;
  height: 70px;
  resize: none;
  font-size: 30px;
  text-align: center;
}
